body {
 background-color:#00b7ff ;
}
div{
text-align: center;
}
input{
height: 80px;
width: 100px;
background-color: #ffffff;
text-align: center;
}

button{
border-radius: 8px;
background-color: #ffffff;
}


h1, h3{
 text-align: center;
}